{% extends 'base.html' %}
{% block content %}

<h2>Scavenger hunts</h2>
<table id="hunts">
  <tbody>
  {% for hunt in hunts %}
    <tr class="hunt-item">
      <td>{{hunt.name}}</td>
      <td><a href="/hunt/{{hunt.key}}">Edit</a></td>
      <td><a href="/{{hunt.key}}">Public Link</a></td>
      <!-- <td><a class="close" href="#">&times;</a></td> -->
    </tr>
  {% endfor %}
  </tbody>
</table>

<h3>Create a new hunt</h3>
<form method="post" action="/hunt/create">
  <input id="hunt_name" name="name"/>
  <input type="submit"/>
</form>

{% endblock %}
