{% extends 'base.html' %}
{% block content %}

<script>
navigator.geolocation.getCurrentPosition(GetLocation);
function GetLocation(location) {
  var ll = location.coords.latitude + "," + location.coords.longitude;
  var ll_act = location.coords.accuracy;
  var alt = location.coords.altitude + 0;
  var alt_acc = location.coords.altitudeAcc;
  $.getJSON("/venue/search",
    {
      ll:ll,
      ll_act:ll_act,
      alt:alt,
      alt_acc:alt_acc,
      query:"pizza"
    },
    function(data){
      var groups = data.response.groups
      var group = groups[0]
      var venues = group.items
      for(var i = 0; i < venues.length; i++){
        console.log(venues[i]);
      }
    }
  )
}
</script>

Sup {{hunt.name}}
{% for venue in venues %}
  {{venue.name}}<br/>
{% endfor %}

{% endblock %}
