{% extends 'base.html' %}
{% block content %}

<section class="group" id="venue_list">
  <header>
    <h3>{{hunt.name}}</h3>
  </header>
  <ul id="current_venues">
    {% for venue in venues %}
       <li>{{venue.name}}</li>
    {% endfor %}
  </ul>
  <form method="get" id="venue_form">
      <fieldset>
          <legend>Search for a venue</legend>
          <div class="clearfix">
              <label>&nbsp;</label>
              <input type="text" class="span4" name="query" placeholder="Pizza" id="venue_query" />
          </div>
      </fieldset>
  </form>
  <div id="venue_map">
    
  </div>
</section>


{% endblock %}
{% block javascript %}
<script type="text/javascript">

if (Modernizr.geolocation) {
  navigator.geolocation.getCurrentPosition(function(location) {
    $('#venue_list')
      .data('ll', location.coords.latitude + "," + location.coords.longitude)
      .data('ll_act', location.coords.accuracy)
      .data('alt', location.coords.altitude + 0)
      .data('alt_acc', location.coords.altitudeAcc);
  });
}

$(function(){
  
  var $vl = $('#venue_list');
    
  var send_query = function(query_word) {
      var sent_data = {
          ll: $vl.data('ll'),
          ll_act: $vl.data('ll_act'),
          alt: $vl.data('alt'),
          alt_acc: $vl.data('alt_acc'),
          query: query_word
        };
      $.ajax({
          url:        "/venue/search",
          dataType:   "json", 
          data:       sent_data, 
          success:    function(data) {
                      var venues = data.response.groups[0].items;
            
                      if (venues.length === 0) {
                        $list = '<p>No venues found.</p>';
                      } else {
                        $list = $('<ul/>');
                        for (i in venues) {
                          if (!!venues[i]) {
                            $list.append('<li><a href="#" class="add_venue">'+venues[i].name+'</a></li>');
                          }
                        }          
                      }
          
                      $('#venue_map').empty().append($list);
                    }
      });
    };
  
  var delay = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();
  
  $('#venue_query').keyup(function() {
    $el = $(this); 
    delay(function() {
      send_query($el.val());
    }, 300);
  });

  
});

</script>
{% endblock %}
