{% extends 'base.html' %}
{% block content %}

<section class="group" id="venue_list" data-hunt-id="{{hunt.key}}">
  <header>
    <h3>{{hunt.name}}</h3>
  </header>
  <table id="current_venues">
    <tbody>
    {% for venue in venues %}
      <tr class="venue-item" data-id="{{venue.foursquare_id}}">
        <td>{{venue.name}}</td>
        <td><a class="close" href="#">&times;</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <form method="get" id="venue_form">
      <fieldset>
          <legend>Add a venue</legend>
          <div class="clearfix">
              <label>&nbsp;</label>
              <input type="text" class="span4" name="query" placeholder="Pizza" id="venue_query" />
          </div>
      </fieldset>
  </form>
  <div id="venue_map">
    
  </div>
</section>


{% endblock %}
{% block javascript %}
<script src="/static/js/bootstrap-alerts.js" type="text/javascript"></script>
<script src="/static/js/templates.js" type="text/javascript"></script>
<script type="text/html" id="success_alert_tpl">
  <div class="alert-message success fade in" data-alert="alert"><a class="close" href="#">&times;</a><p><%= message %></p></div>
</script>
<script type="text/html" id="venue_item_tpl">
  <tr class="venue-item" data-id="<%= id %>"><td><%= name %></td><td><a class="close" href="#">&times;</a></td></tr>
</script>
<script type="text/html" id="venue_list_item_tpl">
  <li><a href="#" data-id="<%= id %>" class="add_venue"><%= name %></a></li>
</script>
<script src="/static/js/venues.js" type="text/javascript"></script>
{% endblock %}
