{% extends 'home_base.html' %}
{% block content %}
<style>
  .content{
    padding: 4em;
  }
  #logo{
    margin-bottom: 2em;
  }
  h1{
    font-size: 2em;
  }
  .teaser{
    font-size: 1.4em;
    line-height: 1.4;
    margin-bottom: 1em;
  }
  .content{
    background: #FFF url('/static/img/girl_with_map.png') no-repeat scroll 100% 100%;
  }
  h3, .starthunting{
    color: #fd5800;
    float: left;
    margin-top: 0;
  }
  #login img{
    padding-top: 7px;
    padding-left: 20px;
  }
</style>
<div class="row">
<header class="span-two-thirds">
  <img id="logo" src="/static/img/squarehunt_logo_400px.png"/>
	<h1>Everybody Loves Scavenger Hunts.</h1> 
  <p class="teaser">We've created an easy way to create awesome adventures to share with your friends and fans.</p>
  <h3 class="starthunting">Ready to start hunting?</h3>
  <a id="login" href="/login">
    <img src="/static/img/connect-white.png" alt="Connect with Foursquare" />
  </a>
</header>
</div>
{% endblock %}
